li{
    background-color:pink;
    color:blue
}
h1{
    color:rgb(207, 37, 65);
}
.favorite{
    background-color: grey;
}
#most-popular{
    background-color: coral;
}
.header:hover::after{
    color:skyblue;
}

.header:active::after{
    color:red;
}
.header{
    color:red;
    font-size:40px;
    font-family:fantasy;

}